<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rutina Cliente</title>
    <link rel="stylesheet" href="../../assets/css/styleRutinaCliente.css">
    {{> header}}
</head>
<body>
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}    
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->      
    <div class="container-fluid content-inner">
        <div id="rutina-container" class="rutina-container">
            <h1>Rutina Asignada: <span id="nombre-rutina">Sin Rutinas</span></h1>

            <div id="accordion-container">
                <!-- Se cargará dinámicamente el contenido aquí -->
            </div>
        </div>
    </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
    <script src="../../assets/js/rutinas/rutinaCliente.js"></script>
</body>
</html>
