<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalle usuario</title>
    {{> header}}
    <link rel="stylesheet" href="../assets/css/Productos.css" />
    <style>
        /* Estilo personalizado para campos deshabilitados */
        .form-control[disabled], .form-select[disabled] {
            background-color: #fff; /* Color de fondo blanco para campos deshabilitados */
            color: #495057; /* Color de texto gris oscuro para campos deshabilitados */
            border: 1px solid #ced4da; /* Bordes de color normal */
            /* cursor: not-allowed; */ /* Quitar cursor de no permitido */
        }
        
        /* Botón volver ajustado */
        .btn-volver {
            margin-top: 1rem; /* Ajustar margen superior según sea necesario */
        }
    </style>
</head>
<body onload="precargarDatosUsuarioEnFormulario()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Detalle usuario</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="formularioUsuariosEditar">
                            <div class="row">
                                <!-- Tipo de Documento -->

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Tipo de Documento*</label>
                                        <select class="form-select" name="TipoDocumento" id="TipoDocumento" disabled>
                                            <option value="" disabled selected hidden>Seleccionar Documento</option>
                                            <option value="cedula_ciudadania">Cédula de ciudadania</option>
                                            <option value="pasaporte">Pasaporte</option>
                                        </select>
                                        <span class="error-message" id="tipoDocumento-error"></span>
                                    </div>
                                </div>

                                <!-- Documento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Documento*</label>
                                        <input type="text" class="form-control" name="Documento" placeholder="Documento" id="Documento" disabled />
                                        <span class="error-message" id="cedula-error"></span>
                                    </div>
                                </div>
                                
                                <!-- Nombre -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nombre*</label>
                                        <input type="text" class="form-control" name="Nombres" placeholder="Nombre" id="Nombre" disabled />
                                        <span class="error-message" id="nombre-error"></span>
                                    </div>
                                </div>

                                <!-- Apellidos -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Apellidos*</label>
                                        <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" id="Apellidos" disabled />
                                        <span class="error-message" id="apellidos-error"></span>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Correo electrónico*</label>
                                        <input type="email" class="form-control" name="Correo" placeholder="E-mail" id="E-mail" disabled />
                                        <span class="error-message" id="email-error"></span>
                                    </div>
                                </div>

                                <!-- Teléfono -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Teléfono*</label>
                                        <input type="text" class="form-control" name="Telefono" placeholder="Teléfono" id="Teléfono" disabled />
                                        <span class="error-message" id="telefono-error"></span>
                                    </div>
                                </div>

                                

                                <!-- Fecha de Nacimiento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Fecha de Nacimiento*</label>
                                        <input type="date" class="form-control" name="FechaDeNacimiento" id="FechaDeNacimiento" disabled />
                                        <span class="error-message" id="fechaDeNacimiento-error"></span>
                                    </div>
                                </div>

                                <!-- Dirección -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Dirección*</label>
                                        <input type="text" class="form-control" name="Direccion" placeholder="Dirección" id="Direccion" disabled />
                                        <span class="error-message" id="direccion-error"></span>
                                    </div>
                                </div>

                                <!-- Género -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Género*</label>
                                        <select class="form-select" name="Genero" id="Genero" disabled>
                                            <option value="" disabled selected hidden>Seleccionar Género</option>
                                            <option value="Masculino">Masculino</option>
                                            <option value="Femenino">Femenino</option>
                                            <option value="Otro">Otro</option>
                                        </select>
                                        <span class="error-message" id="genero-error"></span>
                                    </div>
                                </div>

                                <!-- Rol -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Rol*</label>
                                        <select class="form-select" name="Rol" id="Rol" disabled>
                                            <option value="" disabled selected hidden>Seleccionar Rol</option>
                                            <!-- Aquí se agregarán las opciones de roles dinámicamente -->
                                        </select>
                                        <span class="error-message" id="rol-error"></span>
                                    </div>
                                </div>

                                <!-- Estado -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Estado*</label>
                                        <select class="form-select" name="Estado" id="Estado" disabled>
                                            <option value="" disabled selected hidden>Seleccionar Estado</option>
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                        <span class="error-message" id="estado-error"></span>
                                    </div>
                                </div>

                                <!-- Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"></label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="Contrasena" id="contrasena" placeholder="Contraseña" style="display: none;" disabled />
                                            <div class="input-group-append">
                                            </div>
                                        </div>
                                        <span class="error-message" id="contrasena-error"></span>
                                    </div>
                                </div>
                                <input type="text" id="IdUser" style="display: none;" disabled />
                                <!-- Confirmar Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label"></label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="confirmarContrasena" id="confirmarContrasena" aria-describedby="confirmarContrasenaHelp" placeholder="Confirme Contraseña" style="display: none;" disabled />
                                            <div class="input-group-append">
                                            </div>
                                        </div>
                                        <span class="error-message" id="confirmarContrasena-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-12 text-end">
                        <button type="button" class="btn btn-primary float-end" onclick="window.location.href='../usuariosAdmin'">Volver</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin contenido -->

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/postUsuarios.js"></script>

    {{> footer}}

</body>
</html>
