<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar usuario</title>
    {{> header}}
    <link rel="stylesheet" href="../assets/css/Productos.css" />
</head>
<body class="  " onload="inicializarPagina()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
   <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">actualizar usuario</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="formularioUsuariosEditar">
                            <div class="row">
                                <!-- Nombre -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Nombre*</label>
                                        <input type="text" class="form-control" name="Nombres" placeholder="Nombre" id="Nombre" />
                                        <span class="error-message" id="nombre-error"></span>
                                    </div>
                                </div>

                                <!-- Apellidos -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Apellidos*</label>
                                        <input type="text" class="form-control" name="Apellidos" placeholder="Apellidos" id="Apellidos" />
                                        <span class="error-message" id="apellidos-error"></span>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">E-mail*</label>
                                        <input type="email" class="form-control" name="Correo" placeholder="E-mail" id="E-mail" />
                                        <span class="error-message" id="email-error"></span>
                                    </div>
                                </div>

                                <!-- Telefono -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Teléfono*</label>
                                        <input type="text" class="form-control" name="Telefono" placeholder="Teléfono" id="Teléfono" />
                                        <span class="error-message" id="telefono-error"></span>
                                    </div>
                                </div>

                                <!-- Tipo de Documento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Tipo de Documento*</label>
                                        <select class="form-select" name="TipoDocumento" id="TipoDocumento" required>
                                            <option value="" disabled selected hidden>Seleccionar Documento</option>
                                            <option value="cedula_ciudadania">Cédula</option>
                                            <option value="pasaporte">Pasaporte</option>
                                        </select>
                                        <span class="error-message" id="tipoDocumento-error"></span>
                                    </div>
                                </div>

                                <!-- Documento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Documento*</label>
                                        <input type="text" class="form-control" name="Documento" placeholder="Documento" id="Documento" required />
                                        <span class="error-message" id="cedula-error"></span>
                                    </div>
                                </div>

                                <!-- Fecha de Nacimiento -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Fecha de Nacimiento*</label>
                                        <input type="date" class="form-control" name="FechaDeNacimiento" id="FechaDeNacimiento" required />
                                        <span class="error-message" id="fechaDeNacimiento-error"></span>
                                    </div>
                                </div>

                                <!-- Dirección -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Dirección*</label>
                                        <input type="text" class="form-control" name="Direccion" placeholder="Dirección" id="Direccion" />
                                        <span class="error-message" id="direccion-error"></span>
                                    </div>
                                </div>

                                <!-- Género -->
<div class="col-md-6">
    <div class="form-group">
        <label class="form-label">Género*</label>
        <select class="form-select" name="Genero" id="Genero" id="Genero" required>
            <option value="" disabled selected hidden>Seleccionar Género</option>
            <option value="Masculino">Masculino</option>
            <option value="Femenino">Femenino</option>
            <option value="Otro">Otro</option>
        </select>
        <span class="error-message" id="genero-error"></span>
    </div>
</div>


                                <!-- Rol -->
<div class="col-md-6">
    <div class="form-group">
        <label class="form-label">Rol*</label>
        <select class="form-select" name="Rol" id="Rol" required>
            <option value="" disabled selected hidden>Seleccionar Rol</option>
            <!-- Aquí se agregarán las opciones de roles dinámicamente -->
        </select>
        <span class="error-message" id="rol-error"></span>
    </div>
</div>


                                <!-- Estado -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Estado*</label>
                                        <select class="form-select" name="Estado" id="Estado" required>
                                            <option value="" disabled selected hidden>Seleccionar Estado</option>
                                            <option value="1">Activo</option>
                                            <option value="0">Inactivo</option>
                                        </select>
                                        <span class="error-message" id="estado-error"></span>
                                    </div>
                                </div>
                                <!-- Contraseña -->
                              <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Contraseña*</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="Contrasena" id="contrasena" placeholder="Contraseña"  />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="togglePassword" data-toggle="contrasena">
                                                    <span class="fa-regular fa-eye-slash fa-xl me-2"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="error-message" id="contrasena-error"></span>
                                    </div>
                                </div>
                                <input type="text" id="IdUser" style="display: none;">
                                <!-- Confirmar Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Confirmar Contraseña*</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="confirmarContrasena" id="confirmarContrasena" aria-describedby="confirmarContrasenaHelp" placeholder="Confirme Contraseña"  />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword" data-toggle="confirmarContrasena">
                                                    <span class="fa-regular fa-eye-slash fa-xl me-2"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="error-message" id="confirmarContrasena-error"></span>
                                    </div>
                                </div>
                            </div>


                            <div class="row mt-4">
                                <div class="col-md-12 text-end">
                                    <button type="submit"  class="btn btn-primary">Guardar</button>
                                    <a href="usuariosAdmin" class="btn btn-dark ms-2">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <!-- Fin contenido -->
     

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

      <script>
        // Función para cambiar la visibilidad de las contraseñas
        function togglePasswordVisibility(inputId, buttonId) {
            const passwordInput = document.getElementById(inputId);
            const button = document.getElementById(buttonId).querySelector('span');
    
            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                button.className = 'fa-regular fa-eye fa-xl me-2';
            } else {
                passwordInput.type = 'password';
                button.className = 'fa-regular fa-eye-slash fa-xl me-2';
            }
        }

        // Agregar eventos a los botones de toggle
        document.getElementById('togglePassword').addEventListener('click', function() {
            togglePasswordVisibility('contrasena', 'togglePassword');
        });

        document.getElementById('toggleConfirmPassword').addEventListener('click', function() {
            togglePasswordVisibility('confirmarContrasena', 'toggleConfirmPassword');
        });
    </script>
    <script>
 function inicializarPagina() {
            // Llama a la función para precargar datos del usuario
            precargarDatosUsuarioEnFormulario();

            // Llama a la función para precargar roles
            fetchRoles();

            // Agrega un manejador de eventos para el formulario
            const formulario = document.getElementById('formularioUsuariosEditar');
            formulario.addEventListener('submit', async (event) => {
                event.preventDefault(); // Evita el envío del formulario
                await actualizarUsuario(); // Llama a la función para actualizar el usuario
            });
        }

        function fetchRoles() {
            fetch('http://localhost:3000/api/roles')
                .then(response => {
                    if (!response.ok) {
                        throw new Error('Network response was not ok ' + response.statusText);
                    }
                    return response.json();
                })
                .then(data => {
                    const rolesSelect = document.getElementById('Rol');
                    data.forEach(rol => {
                        const option = document.createElement('option');
                        option.value = rol.IdRol; // Ajusta esto según el campo que contiene el ID del rol
                        option.textContent = rol.NombreRol; // Ajusta esto según el campo que contiene el nombre del rol
                        rolesSelect.appendChild(option);
                    });
                })
                .catch(error => {
                    console.error('Error al cargar roles:', error);
                });
        }
    </script>


    <script src="../assets/js/postUsuarios.js"></script>
        <script src="../assets/js/formUsuarios.js"></script>

    
    {{> footer}}
</body>
</html>
