<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario Usuarios</title>
    {{> header}}
    <link rel="stylesheet" href="../assets/css/Productos.css" />
</head>
<body onload="fetchRoles()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Agregar usuario</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form id="formularioUsuarios">
                            <div class="row">
                                <!-- Tipo de Documento -->
                                <div class="col-md-6 formulario__grupo" id="grupo__TipoDocumento">
                                    <div class="form-group">
                                        <label class="form-label">Tipo de Documento*</label>
                                        <div class="formulario__grupo-input">
                                            <select class="form-select" name="TipoDocumento" id="TipoDocumento" required>
                                                <option value="" disabled selected hidden>Seleccionar Documento</option>
                                                <option value="cedula_ciudadania">Cédula de Ciudadanía</option>
                                                <option value="Pasaporte">Pasaporte</option>
                                            </select>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor selecciona un tipo de documento</p>
                                    </div>
                                </div>

                                <!-- Documento -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Documento">
                                    <div class="form-group">
                                        <label class="form-label">Documento*</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control" name="Documento" id="Documento" placeholder="Documento" required />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor ingresa un documento válido</p>
                                    </div>
                                </div>

                                <!-- Nombre -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Nombre">
                                    <div class="form-group">
                                        <label class="form-label">Nombre*</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control" name="Nombres" id="Nombre" placeholder="Nombre" required />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor ingresa un nombre válido</p>
                                    </div>
                                </div>

                                <!-- Apellidos -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Apellidos">
                                    <div class="form-group">
                                        <label class="form-label">Apellidos*</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control" name="Apellidos" id="Apellidos" placeholder="Apellidos" required />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor ingresa apellidos válidos</p>
                                    </div>
                                </div>

                                <!-- Email -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Email">
                                    <div class="form-group">
                                        <label class="form-label">Correo electrónico</label>
                                        <div class="formulario__grupo-input">
                                            <input type="email" class="form-control" name="Correo" id="Email" placeholder="E-mail" />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor ingresa un correo electrónico válido</p>
                                    </div>
                                </div>

                                <!-- Teléfono -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Telefono">
                                    <div class="form-group">
                                        <label class="form-label">Teléfono*</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control" name="Telefono" id="Telefono" placeholder="Teléfono" required />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor ingresa un teléfono válido</p>
                                    </div>
                                </div>

                                <!-- Fecha de Nacimiento -->
                                <div class="col-md-6 formulario__grupo" id="grupo__FechaDeNacimiento">
                                    <div class="form-group">
                                        <label class="form-label">Fecha de Nacimiento*</label>
                                        <div class="formulario__grupo-input">
                                            <input type="date" class="form-control" name="FechaDeNacimiento" id="FechaDeNacimiento" required />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor selecciona una fecha válida</p>
                                    </div>
                                </div>

                                <!-- Dirección -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Direccion">
                                    <div class="form-group">
                                        <label class="form-label">Dirección*</label>
                                        <div class="formulario__grupo-input">
                                            <input type="text" class="form-control" name="Direccion" id="Direccion" placeholder="Dirección" required />
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor ingresa una dirección válida</p>
                                    </div>
                                </div>

                                <!-- Género -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Genero">
                                    <div class="form-group">
                                        <label class="form-label">Género*</label>
                                        <div class="formulario__grupo-input">
                                            <select class="form-select" name="Genero" id="Genero" required>
                                                <option value="" disabled selected hidden>Seleccionar Género</option>
                                                <option value="Masculino">Masculino</option>
                                                <option value="Femenino">Femenino</option>
                                                <option value="Otro">Otro</option>
                                            </select>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor selecciona un género válido</p>
                                    </div>
                                </div>

                                <!-- Rol -->
                                <div class="col-md-6 formulario__grupo" id="grupo__Rol">
                                    <div class="form-group">
                                        <label class="form-label">Rol*</label>
                                        <div class="formulario__grupo-input">
                                            <select id="rolesSelect" class="form-select" name="Rol" required>
                                                <option value="" disabled selected hidden>Seleccionar Rol</option>
                                            </select>
                                            <i class="formulario__validacion-estado fas fa-times-circle"></i>
                                        </div>
                                        <p class="formulario__input-error">Por favor selecciona un rol válido</p>
                                    </div>
                                </div>
                                <!-- Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Contraseña*</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="Contrasena" id="contrasena" placeholder="Contraseña" required />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="togglePassword">
                                                    <span class="fa-regular fa-eye-slash fa-xl me-2"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="error-message" id="contrasena-error"></span>
                                    </div>
                                </div>

                                <!-- Confirmar Contraseña -->
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Confirmar Contraseña*</label>
                                        <div class="input-group">
                                            <input type="password" class="form-control" name="confirmarContrasena" id="confirmarContrasena" placeholder="Confirme Contraseña" required />
                                            <div class="input-group-append">
                                                <button class="btn btn-outline-secondary" type="button" id="toggleConfirmPassword">
                                                    <span class="fa-regular fa-eye-slash fa-xl me-2"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <span class="error-message" id="confirmarContrasena-error"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row mt-4">
                                <div class="col-md-12 text-end">
                                    <button type="submit" class="btn btn-primary">Guardar</button>
                                    <a href="usuariosAdmin" class="btn btn-dark ms-2">Cancelar</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    <script>
        // Función para cambiar la visibilidad de las contraseñas
        function togglePasswordVisibility(inputId, buttonId) {
            const passwordInput = document.getElementById(inputId);
            const button = document.getElementById(buttonId).querySelector('span');

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                button.className = 'fa-regular fa-eye fa-xl me-2';
            } else {
                passwordInput.type = 'password';
                button.className = 'fa-regular fa-eye-slash fa-xl me-2';
            }
        }

        // Agregar eventos a los botones de toggle
        document.getElementById('togglePassword').addEventListener('click', function() {
            togglePasswordVisibility('contrasena', 'togglePassword');
        });

        document.getElementById('toggleConfirmPassword').addEventListener('click', function() {
            togglePasswordVisibility('confirmarContrasena', 'toggleConfirmPassword');
        });
    </script>
    <script src="../assets/js/postUsuarios.js"></script>
    <script src="../assets/js/UsuarosValidaciones.js"></script>

    {{> footer}}
</body>
</html>
