<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar proveedor</title>
    <link rel="stylesheet" href="../assets/css/productos2.css" />
    {{> header}}
</head>
<body onload="precargarDatosProveedorEnFormulario()">
        <!-- Inicio del cargar -->
    <div id="loading">
      <div class="loader simple-loader">
          <div class="loader-body">
          </div>
      </div>    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->

        {{> sidebar}}    
 
    <!-- Fin Barra lateral -->


    <!-- Inicio Barra superior -->
        {{> topbar}}
    <!-- Fin Barra superior -->

              
    <!-- Inicio contenido -->      
<div class="container-fluid content-inner">
            <div class="row">                
                <div class="col-sm-12 col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Editar Proveedor</h4>
                        </div>
                        </div>
                        <div class="card-body">
                            <!-- fieldsets -->
<form id="formularioEditarProveedor">
    <div class="row">
        <!-- Nombre Proveedor -->
        <div class="col-md-6 formulario__grupo" id="grupo__Nombreedit">
            <div class="form-group">
                <label class="form-label">Nombre Proveedor*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="form-control" name="Nombreedit" placeholder="Nombre Proveedor" id="Nombreedit" />
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ingrese nombre proveedor válido</p>
            </div>
        </div>

        <!-- Contacto Proveedor -->
        <div class="col-md-6 formulario__grupo" id="grupo__Contactoedit">
            <div class="form-group">
                <label class="form-label">Contacto proveedor*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="form-control" name="Contactoedit" placeholder="Contacto proveedor" id="Contactoedit" />
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ingrese nombre de contacto válido</p>
            </div>
        </div>

        <!-- Teléfono -->
        <div class="col-md-6 formulario__grupo" id="grupo__Telefonoedit">
            <div class="form-group">
                <label class="form-label">Teléfono*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="form-control" name="Telefonoedit" placeholder="Teléfono" id="Telefonoedit" />
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ingrese teléfono válido</p>
            </div>
        </div>

        <!-- Dirección -->
        <div class="col-md-6 formulario__grupo" id="grupo__Direccionedit">
            <div class="form-group">
                <label class="form-label">Dirección*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="form-control" name="Direccionedit" placeholder="Dirección" id="Direccionedit" />
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ingrese dirección válida</p>
            </div>
        </div>

        <!-- NIT -->
        <div class="col-md-6 formulario__grupo" id="grupo__NITedit">
            <div class="form-group">
                <label class="form-label">NIT*</label>
                <div class="formulario__grupo-input">
                    <input type="text" class="form-control" name="NITedit" placeholder="NIT" id="NITedit" />
                    <i class="formulario__validacion-estado fas fa-times-circle"></i>
                </div>
                <p class="formulario__input-error">Ingrese NIT válido</p>
            </div>
        </div>

        <!-- Estado -->
        <div class="col-md-6">
            <div class="form-group">
                <label class="form-label">Estado</label>
                <select id="Estadoedit" class="form-control" name="estadoProveedor">
                    <option value="1">Activo</option>
                    <option value="0">Inactivo</option>
                </select>
            </div>
        </div>
    </div>

    <!-- Mensajes de Error y Éxito -->

    <!-- Botones -->
    <button type="submit" class="btn btn-primary next action-button float-end"onclick="editarProveedor()">Guardar</button>
    <a href="../Proveedores" class="btn btn-dark previous action-button-previous float-end me-1">Cancelar</a>
</form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <!-- Fin contenido --> 

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/proveedores.js"></script>
    <script src="../assets/js/proveedoredit.js"></script>
    {{> footer}}
</body>
</html>