<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visualizar Venta</title>
    {{> header}}
</head>
<body onload="cargarDatosVenta()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="row">
            <div class="col-sm-12 col-lg-12">
                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                            <h4 class="card-title">Visualizar Venta</h4>
                        </div>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Fecha Venta</label>
                                        <label id="FechaVenta" name="FechaVenta"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Valor Total</label>
                                        <label id="ValorVenta" name="ValorVenta"></label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="form-label">Cliente</label>
                                        <label id="NombreCliente" name="NombreCliente"></label>
                                    </div>
                                </div>
                                <table class="table table-bordered dataTable" id="dataTable" width="100%" cellspacing="0" role="grid" aria-describedby="dataTable_info" style="width: 100%;">
                                    <thead>
                                        <tr role="row">
                                            <th>Producto/Membresía</th>
                                            <th>Valor Unitario</th>
                                            <th>Cantidad</th>
                                            <th>Valor Total</th>
                                        </tr>
                                    </thead>
                                    <tbody id="ventaProductoMembresiaTable">
                                        <!-- Los productos y membresías se cargarán aquí -->
                                    </tbody>
                                </table>
                            </div>
                            <a href="ventasCliente"><button type="button" name="Cancelar" class="btn btn-dark previous action-button-previous float-end me-1">Volver</button></a>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Fin contenido -->

    <script src="../../assets/js/ventas/ventas.clientes.js"></script>
    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->

    {{> footer}}
</body>
</html>
