<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gestion Clientes</title>
    {{> header}}
    <!-- DataTables CSS -->
    <link rel="stylesheet" href="vendor/datatables/dataTables.bootstrap4.min.css" />
    <link rel="stylesheet" href="../assets/css/ClientesStyle/clientes.css" />

</head>

<body class="" onload="listarClientes()">
    <!-- Inicio del cargar -->
    <div id="loading">
        <div class="loader simple-loader">
            <div class="loader-body"></div>
        </div>
    </div>
    <!-- Fin cargar -->

    <!-- Inicio Barra lateral -->
    {{> sidebar}}
    <!-- Fin Barra lateral -->

    <!-- Inicio Barra superior -->
    {{> topbar}}
    <!-- Fin Barra superior -->

    <!-- Inicio contenido -->
    <div class="container-fluid content-inner">
        <div class="container-fluid">
            <div class="card-header py-3">
                        <h2 class="m-0 font-weight-bold text-primary">Gestión Clientes</h2>
                    </div>
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-body">
                    <div class="table-responsive">
                        <div id="dataTable_wrapper" class="dataTables_wrapper dt-bootstrap4">
                            <div class="card-header py-3 d-flex justify-content-between">
                                <div class="d-flex"></div>
                                <div class="footer-buttons mt-1">
                                    <a href="formularioCliente" type="button" name="Cancelar"
                                       class="btn btn-danger previous action-button-previous float-end me-2"
                                       value="Previous">Crear Cliente +
                                    </a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table class="table table-bordered dataTable" id="dataTable" width="100%"
                                           cellspacing="0" role="grid" aria-describedby="dataTable_info"
                                           style="width: 100%;">
                                        <thead>
                                            <tr role="row">
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Start date: activate to sort column ascending"
                                                    style="width: 104.297px;">Documento</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Position: activate to sort column ascending"
                                                    style="width: 257.578px;">Nombre</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Age: activate to sort column ascending"
                                                    style="width: 48.1719px;">Teléfono</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Age: activate to sort column ascending"
                                                    style="width: 48.1719px;">Correo Electronico</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Salary: activate to sort column ascending"
                                                    style="width: 93.0156px;">Estado</th>
                                                <th class="sorting" tabindex="0" aria-controls="dataTable" rowspan="1"
                                                    colspan="1" aria-label="Salary: activate to sort column ascending"
                                                    style="width: 93.0156px;">Acciones</th>
                                            </tr>
                                        </thead>
                                        <tbody id="contenido">
                                            <!-- Los datos se insertarán aquí -->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                         <!-- Modal para Ver Detalle Cliente -->
                                <div class="modal fade" id="modalVerDetalleCliente" tabindex="-1" aria-labelledby="modalVerDetalleClienteLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-lg">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="modalVerDetalleClienteLabel">Detalles del Cliente</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container">
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="tipoDocumentoCliente" class="form-label">Tipo de Documento</label>
                                                                <input type="text" class="form-control" id="tipoDocumentoCliente" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="nombreCliente" class="form-label">Nombre</label>
                                                                <input type="text" class="form-control" id="nombreCliente" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="TelefonoCliente" class="form-label">Teléfono</label>
                                                                <input type="text" class="form-control" id="TelefonoCliente" readonly>
                                                            </div>
                                                            

                                                            <div class="mb-3">
                                                                <label for="emailCliente" class="form-label">Correo Electrónico</label>
                                                                <input type="email" class="form-control" id="emailCliente" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="direccionCliente" class="form-label">Dirección</label>
                                                                <input type="text" class="form-control" id="direccionCliente" readonly>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label for="documentoCliente" class="form-label">Documento</label>
                                                                <input type="text" class="form-control" id="documentoCliente" readonly>
                                                            </div>
                                                            
                                                            <div class="mb-3">
                                                                <label for="apellidosCliente" class="form-label">Apellidos</label>
                                                                <input type="text" class="form-control" id="apellidosCliente" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="fechaNacimientoCliente" class="form-label">Fecha de Nacimiento</label>
                                                                <input type="text" class="form-control" id="fechaNacimientoCliente" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="estadoCliente" class="form-label">Estado</label>
                                                                <input type="text" class="form-control" id="estadoCliente" readonly>
                                                            </div>
                                                            <div class="mb-3">
                                                                <label for="generoCliente" class="form-label">Género</label>
                                                                <input type="text" class="form-control" id="generoCliente" readonly>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Fin contenido -->

    <!-- Footer Section Start -->
    <footer class="footer">
        {{> copyright}}
    </footer>
    <!-- Footer Section End -->
    <script src="../assets/js/FuncionesClientes/funcionesCliente.js"></script>

    {{> footer}}

</body>
</html>
